@mixin grid-columns(
  $display: grid,
  $template: repeat(1, minmax($gap-space-8, 1fr)),
  $gap: 0,
  $align-items: flex-start,
  $justify-content: flex-start,
  $align-content: flex-start
) {
  display: $display;
  align-items: $align-items;
  grid-template-columns: $template;
  place-content: $align-content $justify-content;

  @if $gap != 0 {
    gap: $gap;
  }
}

@mixin grid-rows(
  $display: grid,
  $template: repeat(1, minmax(10px, 1fr)),
  $gap: 0,
  $align-items: flex-start,
  $justify-content: flex-start,
  $align-content: flex-start
) {
  display: $display;
  align-items: $align-items;
  grid-template-rows: $template;
  place-content: $align-content $justify-content;

  @if $gap != 0 {
    gap: $gap;
  }
}

@mixin grid-col-span($columns: 2) {
  grid-column-end: span $columns;
}

@mixin grid-row-span($rows: 2) {
  grid-row-end: span $rows;
}
