@mixin text-truncate($max-width: none) {
  @if $max-width != none {
    max-width: $max-width;
  }

  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin text-line-clamp($lineNo: 1) {
  display: -webkit-box;
  white-space: pre-wrap;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lineNo;
}

@mixin input-placeholder {
  &:placeholder,
  &::placeholder,
  &:input-placeholder,
  &::input-placeholder {
    @content;
  }
}
