################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

node_modules
package-lock.json
wwwroot/CSS/style.css
wwwroot/CSS/style.css.map
wwwroot/CSS/style.min.css
