//gap
$gap: 0.5rem;
$gap-space-2: calc($gap / 4);
$gap-space-4: calc($gap / 2);
$gap-space-8: $gap;
$gap-space-16: calc($gap * 2);
$gap-space-24: calc($gap * 3);
$gap-space-32: calc($gap * 4);
$gap-space-40: calc($gap * 5);

//border
$border-width-1: 1px;
$border-width-2: calc($border-width-1 * 2);
$radius-2: $gap-space-2;
$radius-4: $gap-space-4;
$radius-8: $gap-space-8;
$radius-16: $gap-space-16;
$radius-circle: 50%;
$radius-full: 100vmax;
$radius-none: 0;

//box-shadow
$shadow-x: 0;
$shadow-y: 0;
$shadow-radius-2: $gap-space-2;
$shadow-radius-4: $gap-space-4;
$shadow-radius-8: $gap-space-8;
$shadow-radius-16: $gap-space-16;
$shadow-radius-24: $gap-space-24;

//animation
$trans-time: 0.25s;
$trans-fnc: ease-in-out;

//media
$width-mobile-s: 375px;
$width-mobile: 560px;
$width-tablet: 768px;
$width-desktop-s: 1024px;
$width-desktop-l: 1366px;
$width-desktop-hd: 1440px;
$width-desktop-full-hd: 1920px;
$width-desktop-2k: 2048px;
$width-desktop-4k: 3840px;

@mixin generate-gap-space-4izes {
    --gap: #{$gap};
    --gap-space-2: #{$gap-space-2};
    --gap-space-4: #{$gap-space-4};
    --gap-space-8: #{$gap-space-8};
    --gap-space-16: #{$gap-space-16};
    --gap-space-24: #{$gap-space-24};
    --gap-space-32: #{$gap-space-32};
    --gap-space-40: #{$gap-space-40};
}

@mixin generate-border-sizes {
    --border-width-1: #{$border-width-1};
    --border-width-2: #{$border-width-2};
    --radius-2: #{$radius-2};
    --radius-4: #{$radius-4};
    --radius-8: #{$radius-8};
    --radius-16: #{$radius-16};
    --radius-circle: #{$radius-circle};
    --radius-full: 100vmax;
    --radius-none: #{$radius-none};
}

@mixin generate-box-shadow-sizes {
    --shadow-x: #{$shadow-x};
    --shadow-y: #{$shadow-y};
    --shadow-radius-2: #{$shadow-radius-2};
    --shadow-radius-4: s#{$shadow-radius-4};
    --shadow-radius-8: #{$shadow-radius-8};
    --shadow-radius-16: #{$shadow-radius-16};
    --shadow-radius-24: #{$shadow-radius-24};
}

@mixin generate-animation-sizes {
    --trans-time: #{$trans-time};
    --trans-fnc: #{$trans-fnc};
}

@mixin generate-media-sizes {
    --width-mobile-s: #{$width-mobile-s};
    --width-mobile: #{$width-mobile};
    --width-tablet: #{$width-tablet};
    --width-desktop-s: #{$width-desktop-s};
    --width-desktop-l: #{$width-desktop-l};
    --width-desktop-hd: #{$width-desktop-hd};
    --width-desktop-full-hd: #{$width-desktop-full-hd};
    --width-desktop-2k: #{$width-desktop-2k};
    --width-desktop-4k: #{$width-desktop-4k};
}

@mixin generate-sizes {
    @include generate-gap-space-4izes;
    @include generate-border-sizes;
    @include generate-box-shadow-sizes;
    @include generate-animation-sizes;
    @include generate-media-sizes;
}
