@import "../base/global";
.contact{
    display: grid;
    align-items: stretch;
    justify-content: space-between;
    grid-template-columns: 8fr 5fr;

    h1{

    }

    h2{

    }

    h3{

    }

    p{

    }

    &__social{
        
    }
}