$color-black: hsl(0deg 0% 0%);
$color-black-800: hsl(0deg 0% 8%);
$color-white: hsl(0deg 0% 100%);
$color-transparent: hsl(0deg 0% 0% / 0%);
$color-primary: $color-white;
$color-secondary: $color-black;
$color-text: oklch(87.2% 0.01 258.338deg);
$color-info: hsl(200deg 54% 53%);
$color-success: hsl(134deg 61% 41%);
$color-warning: hsl(45deg 100% 42%);
$color-error: hsl(354deg 70% 54%);
$color-bg: hsl(0deg 0% 8%);
$color-yellow: hsl(51deg 100% 53%);
$color-grey-200: hsl(0deg 0% 85%);
$color-grey-800: hsl(0deg 0% 20%);
