$color-black: hsl(0 0% 0%);
$color-white: hsl(0 0% 100%);
$color-transparent: hsl(0 0% 0% / 0%);

$color-primary: $color-white;
$color-secondary: $color-black;

$color-info: hsl(200 54% 53%);
$color-success: hsl(134 61% 41%);
$color-warning: hsl(45 100% 42%);
$color-error: hsl(354 70% 54%);

$color-bg: hsl(0 0% 8%);
$color-text-light: hsl(0 0% 0%);
$color-text-dark: hsl(0 0% 100%);

$color-shadow-pink: hsl(313 100% 81%);
$color-shadow-torquoise: hsl(175 100% 65%);
