// gap
$gap: 0.5rem;gap$gapgap$gapgap$gapgap$gap
$gap-space-2: calc($gap / 4);$gap-space-2$gap-space-2$gap-space-2
$gap-space-4: calc($gap / 2);$gap-space-4$gap-space-4
$gap-space-8: $gap;$gap-space-8
$gap-space-16: calc($gap * 2);
$gap-space-24: calc($gap * 3);
$gap-space-32: calc($gap * 4);
$gap-space-40: calc($gap * 5);

// border
$border-width-1: 1px;border$border-width-1border$border-width-1border$border-width-1border$border-width-1
$border-width-2: calc($border-width-1 * 2);$border-width-2$border-width-2$border-width-2
$radius-2: $gap-space-2;$radius-2$radius-2
$radius-4: $gap-space-4;$radius-4
$radius-8: $gap-space-8;
$radius-16: $gap-space-16;
$radius-circle: 50%;
$radius-full: 100vmax;
$radius-none: 0;

// box-shadow
$shadow-x: 0;box-shadow$shadow-xbox-shadow$shadow-xbox-shadow$shadow-xbox-shadow$shadow-x
$shadow-y: 0;$shadow-y$shadow-y$shadow-y
$shadow-radius-2: $gap-space-2;$shadow-radius-2$shadow-radius-2
$shadow-radius-3: 3px;$shadow-radius-3
$shadow-radius-4: $gap-space-4;
$shadow-radius-8: $gap-space-8;
$shadow-radius-16: $gap-space-16;
$shadow-radius-24: $gap-space-24;

// animation
$trans-time: 0.2s;animation$trans-timeanimation$trans-timeanimation$trans-timeanimation$trans-time
$trans-fnc: ease-in-out;$trans-fnc$trans-fnc$trans-fnc

// media
$width-mobile-s: 375px;media$width-mobile-smedia$width-mobile-smedia$width-mobile-smedia$width-mobile-s
$width-mobile: 560px;$width-mobile$width-mobile$width-mobile
$width-tablet: 768px;$width-tablet$width-tablet
$width-desktop-s: 1024px;$width-desktop-s
$width-desktop-l: 1366px;
$width-desktop-hd: 1440px;
$width-desktop-full-hd: 1920px;
$width-desktop-2k: 2048px;
$width-desktop-4k: 3840px;


$nav-height: 72px;
$nav-height-tablet: 56px;