@import "../Base/global";

h1,
h2,
h3,
p {
    margin: 0;
}

h1 {
    font-family: var(--font-family--title);
    font-size: 12vh;
    line-height: 12vh;
    color: var(--color-primary);
}

h3 {
    margin-bottom: var(--gap-l);
    font-size: 5.6vh;
    letter-spacing: var(--letter-spacing);
    color: var(--color-secondary);
    text-transform: uppercase;
}

h2,
strong {
    font-size: 7vh;
    line-height: 7vh;
    letter-spacing: var(--letter-spacing);
    color: var(--color-secondary);
    text-transform: uppercase;
}

h2 {
    margin-bottom: 4vh;
}

p {
    font-size: 5.6vh;
    color: var(--color-primary);
}

.references {
    margin-bottom: var(--gap-xl);
    font-size: 4vh;
    line-height: 1.5;
    color: var(--color-primary);
    word-spacing: var(--gap-l);
}

.preferences {
    font-size: 4vh;
    line-height: 1.5;
    color: var(--color-primary);
    word-spacing: var(--gap-s);
}