@import "../Base/global";

h1,
h2,
h3,
p {
    margin: 0;
}

h1 {
    @include font;
    font-size: 12vh;
    line-height: 12vh;
    color: var(--color-primary);
}

h3 {
    @include font;
    font-size: 5.6vh;
    text-transform: uppercase;
    margin-bottom: var(--gap-l);
    color: var(--color-secondary);
}

h2,
strong {
    @include font;
    font-size: 7vh;
    line-height: 7vh;
    text-transform: uppercase;
    color: var(--color-secondary);
}

h2 {
    margin-bottom: 4vh;
}

p {
    @include font;
    font-size: 5.6vh;
    color: var(--color-primary);
}

.references {
    @include font;
    color: var(--color-primary);
    font-size: 4vh;
    line-height: 1.5;
    word-spacing: var(--gap-l);
    margin-bottom: var(--gap-xl);
}

.preferences {
    @include font;
    color: var(--color-primary);
    font-size: 4vh;
    line-height: 1.5;
    word-spacing: var(--gap-s);
}