@use "../abstracts/variables/_index" as *;
@use "../abstracts/functions/_index" as *;
@use "../abstracts/mixins/_index" as *;

@mixin create-animated-content {
  .content-fade-in {
    opacity: var(--content_opacity, 0);
    scale: var(--content_scale, 0.95);
    animation: var(--content_animation, content-fade-in linear forwards);
    animation-timeline: view();
    z-index: 10;
    position: relative;
    animation-range: var(--animation_range, -20svb);
    transform-origin: left;
  }

  @keyframes content-fade-in {
    0%,
    20% {
      opacity: 0;
      scale: 0.95;
    }

    50%,
    100% {
      scale: 1;
      opacity: 1;
    }
  }
}
