@use "../abstracts/variables/_index" as *;
@use "../abstracts/functions/_index" as *;
@use "../abstracts/mixins/_index" as *;

@mixin create-animated-content {
  section:has(.content-fade-in) {
    view-timeline: --section-view block;
  }

  .content-fade-in {
    position: relative;
    transform-origin: var(--animation_trans-origin, left);
    z-index: 10;

    &--bottom {
      --animation_trans-origin: center;
    }

    @supports (view-timeline-name: --foo) {
      opacity: var(--content_opacity, 0);
      animation: var(--content_animation, content-fade-in forwards);
      scale: var(--content_scale, 0.95);
      animation-range-end: 80svb;
      animation-range-start: entry;
      animation-timeline: --section-view;
      will-change: opacity, scale;
    }

    @include mq-reduce-motion {
      opacity: 1;
      animation: none;
      scale: 1;
    }
  }

  @keyframes content-fade-in {
    0%,
    20% {
      opacity: 0;
    }

    50%,
    100% {
      opacity: 1;
    }
  }
}
