@use "../abstracts/variables/_index" as *;
@use "../abstracts/functions/_index" as *;
@use "../abstracts/mixins/_index" as *;

@mixin create-button {
  @property --btn_gradient-length {
    inherits: false;
    initial-value: 0%;
    syntax: "<percentage>";
  }

  .btn {
    --btn-icon_color: var(--color-white);

    background-image: var(
      --btn_gradient,
      linear-gradient(
        160deg,
        $color-white var(--btn_gradient-length),
        $color-black var(--btn_gradient-length)
      )
    ) !important;
    border-color: var(--color-white);
    text-align: center;
    transition: --btn_gradient-length $trans-time $trans-fnc;

    @include mq-hover {
      --btn-before_trans-x: 0;
      --btn-after_trans-x: 0;
      --btn_gradient-length: 100%;
      --btn-icon_color: var(--color-black);

      &::after {
        --btn_gradient-length: 100%;
      }
    }

    &:is([type="submit"]) {
      border-color: var(--color-black);
    }

    &::after {
      content: attr(title);
      position: absolute;
      inset: 0;
      display: grid;
      place-items: center;
      padding: inherit;
      background-image: var(
        --btn-after_gradient,
        linear-gradient(
          160deg,
          $color-black var(--btn_gradient-length),
          $color-white var(--btn_gradient-length)
        )
      );
      background-clip: text;
      background-clip: text;
      line-height: inherit;
      transition: --btn_gradient-length $trans-time $trans-fnc;
      -webkit-text-fill-color: transparent;
    }

    &[data-variant="secondary"] {
      border-color: var(--color-white);

      --btn-icon_color: var(--color-black);
      --btn_gradient: linear-gradient(
        160deg,
        #{$color-black} var(--btn_gradient-length),
        #{$color-white} var(--btn_gradient-length)
      );
      --btn-after_gradient: linear-gradient(
        160deg,
        #{$color-white} var(--btn_gradient-length),
        #{$color-black} var(--btn_gradient-length)
      );

      @include mq-hover {
        --btn-icon_color: var(--color-white);
      }
    }

    > .icon {
      --icon_color: var(--btn-icon_color);

      transition: --icon_color $trans-time $trans-fnc;
    }

    &[data-variant="plain"] {
      all: initial;
    }
  }
}
