@use "../abstracts/variables/_index" as *;
@use "../abstracts/functions/_index" as *;
@use "../abstracts/mixins/_index" as *;

@mixin create-button {
  @property --btn_gradient-length {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 0%;
  }

  .btn {
    background-image: var(
      --btn_gradient,
      linear-gradient(
        160deg,
        $color-white var(--btn_gradient-length),
        $color-black var(--btn_gradient-length)
      )
    ) !important;
    transition: --btn_gradient-length $trans-time $trans-fnc;
    text-align: center;

    @include mq-hover {
      --btn-before_trans-x: 0;
      --btn-after_trans-x: 0;
      --btn_gradient-length: 100%;

      &:after {
        --btn_gradient-length: 100%;
      }
    }

    &:after {
      content: attr(title);
      position: absolute;
      display: grid;
      place-items: center;
      line-height: inherit;
      inset: 0;
      background-image: var(
        --btn-after_gradient,
        linear-gradient(
          160deg,
          $color-black var(--btn_gradient-length),
          $color-white var(--btn_gradient-length)
        )
      );
      padding: inherit;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: --btn_gradient-length $trans-time $trans-fnc;
    }

    &[data-variant="secondary"] {
      --btn_gradient: linear-gradient(
        160deg,
        #{$color-black} var(--btn_gradient-length),
        #{$color-white} var(--btn_gradient-length)
      );

      --btn-after_gradient: linear-gradient(
        160deg,
        #{$color-white} var(--btn_gradient-length),
        #{$color-black} var(--btn_gradient-length)
      );
    }
  }
}
