@use "../abstracts/variables/_index" as *;
@use "../abstracts/functions/_index" as *;
@use "../abstracts/mixins/_index" as *;

@mixin create-card {
  .card {
    anchor-scope: --vat-tooltip;

    ul li {
      list-style-type: disc;

      &::marker {
        content: attr(data-marker);
      }
    }

    p {
      text-wrap: ballanced;
      text-wrap: pretty;
    }

    strong {
      anchor-name: --vat-tooltip;

      @include mq-hover {
        + .tooltip {
          --tooltip_display: block;
        }
      }
    }

    .tooltip {
      position: absolute;
      display: var(--tooltip_display, none);
      color: light-dark(var(--color-black), var(--color-white));

      @supports (position-anchor: --foo) {
        position-anchor: --vat-tooltip;
        position-area: top;
      }
    }
  }

  // @keyframes fadeIn {
  //   from {
  //     opacity: 0;opacity
  //   }

  //   to {
  //     opacity: 1;opacity
  //   }
  // }
}
