@use "../abstracts/variables/_index" as *;
@use "../abstracts/functions/_index" as *;
@use "../abstracts/mixins/_index" as *;

@mixin create-icon {
  .icon {
    display: block;
    aspect-ratio: 1;
    fill: var(--icon_color, currentColor);

    &:not([class*="w-"]) {
      inline-size: var(--icon_size, 2rem); // 32px default
    }
  }
}
