@use "../abstracts/variables/_index" as *;
@use "../abstracts/functions/_index" as *;
@use "../abstracts/mixins/_index" as *;

@mixin create-nav {
  :where(html, body):has(.nav--open) {
    overflow: hidden;
  }

  .nav {
    max-inline-size: 100lvi;

    --nav-list_display: none;

    @include mq-responsive(tablet, min) {
      --nav-list_display: inline-flex;
      --nav-list_anim: shownav 0.5s ease-in-out forwards;
    }

    &--open {
      --nav-list_display: grid;

      @include mq-responsive(tablet, min) {
        --nav-list_display: inline-flex;
      }
    }

    &__list {
      display: var(--nav-list_display, inline-flex);
      animation: var(--nav-list_anim, none);
      translate: 0 0;
    }

    &__toggler {
      display: grid;
      place-items: center;
      aspect-ratio: 1;

      --after_scale-x: 0.75;
      --before_trans-x: -50%;
      --before_trans-y: calc(-50% - #{$gap-space-8});
      --before_rotate: 0deg;
      --after_trans-x: -50%;
      --after_trans-y: calc(-50% + #{$gap-space-8});
      --after_rotate: 0deg;

      &--open {
        --before_trans-y: -50%;
        --before_rotate: -45deg;
        --after_scale-x: 1;
        --after_trans-y: -50%;
        --after_rotate: 45deg;
        --pseudo_trans-origin: center;
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        background-color: light-dark(var(--color-black), var(--color-white));
        transform-origin: var(--pseudo_trans-origin, right);
        transition:
          scale $trans-time $trans-fnc,
          translate $trans-time $trans-fnc,
          rotate $trans-time $trans-fnc,
          transform-origin $trans-time $trans-fnc;
        block-size: $border-width-2;
        inline-size: 100%;
      }

      &::before {
        translate: var(--before_trans-x) var(--before_trans-y);
        rotate: var(--before_rotate);
      }

      &::after {
        translate: var(--after_trans-x) var(--after_trans-y);
        scale: var(--after_scale-x) 1;
        rotate: var(--after_rotate);
      }
    }
  }

  @keyframes showNav {
    0% {
      opacity: 0;
      translate: 0 -8svb;
    }

    100% {
      opacity: 1;
      translate: 0 0;
    }
  }
}
