@use "../abstracts/variables/_index" as *;
@use "../abstracts/functions/_index" as *;
@use "../abstracts/mixins/_index" as *;

@mixin create-nav {
  .nav {
    mask-image: linear-gradient($color-black 70%, $color-transparent);
    &__list {
      translate: 0 -8svb;
      animation: showNav 0.5s ease-in-out forwards;
    }
  }

  @keyframes showNav {
    0% {
      opacity: 0;
      translate: 0 -8svb;
    }
    100% {
      opacity: 1;
      translate: 0 0;
    }
  }
}
