@use "../abstracts/variables/_index" as *;
@use "../abstracts/functions/_index" as *;
@use "../abstracts/mixins/_index" as *;

@mixin create-reference {
  .reference {
    @include mq-hover {
      --ref-before_trans-y: -100%;
      --ref-after_trans-y: 0;
    }

    :where(span, small) {
      position: relative;
      overflow: clip;
      &:before,
      &:after {
        content: attr(aria-label);
        position: absolute;
        inset: 0;
        transition: translate $trans-time $trans-fnc;
      }

      &:before {
        color: $color-white;
        translate: 0 var(--ref-before_trans-y, 0);
      }
      &:after {
        color: $color-yellow;
        translate: 0 var(--ref-after_trans-y, 100%);
      }
    }
    > small:before {
      color: $color-transparent;
    }
  }

  div:has(> .ref-list),
  .video-carousel {
    @include set-scrollbar;
  }

  .ref-list {
    > li {
      transition: opacity $trans-time $trans-fnc;
    }

    &:hover > li:not(:hover) {
      opacity: 0.5;
    }
  }
}
