@use "../abstracts/variables/_index" as *;
@use "../abstracts/functions/_index" as *;
@use "../abstracts/mixins/_index" as *;

@mixin create-section {
  section {
    // scroll-snap-align: start;
    position: relative;

    h2 {
      color: $color-black;
      animation-range: -8svb exit;
      paint-order: stroke fill;
      -webkit-text-stroke: 0.035em $color-white;

      &[data-dark] {
        -webkit-text-stroke: 0.035em $color-black;
      }
    }
  }
}
