@use "../abstracts/variables/_index" as *;
@use "../abstracts/functions/_index" as *;
@use "../abstracts/mixins/_index" as *;

@mixin create-section {
  section {
    padding-block: 10svb;
    // scroll-snap-align: start;
    position: relative;

    h2 {
      -webkit-text-stroke: $border-width-2 $color-white;
      animation-range: -8svb exit;
    }
  }
}
