@use "../abstracts/variables/_index" as *;
@use "../abstracts/functions/_index" as *;
@use "../abstracts/mixins/_index" as *;

@mixin create-skills {
  .skills {
    background-color: $color-black;
    display: grid;
    row-gap: $gap-space-32;
    max-width: 100svi;
    overflow: clip;
    mask: linear-gradient(90deg, $color-transparent, $color-black 20%, $color-black 80%, $color-transparent);

    &:hover li:not(:hover) {
      opacity: 0.5;

      @include mq-reduce-motion {
        opacity: 1;
      }
    }

    &__scroller {
      display: flex;
      flex-flow: row nowrap;
      overflow: clip;
      column-gap: $gap-space-32;
      animation: scroll-skills linear;
      animation-timeline: scroll(root);

      &:nth-of-type(2) {
        animation-direction: reverse;
        flex-flow: row-reverse nowrap;
      }

      @include mq-reduce-motion {
        animation: none;
      }
    }
  }

  .skills li {
    display: inline-block;
    transition: opacity $trans-time $trans-fnc;
  }

  @keyframes scroll-skills {
    to {
      translate: calc(-20% - $gap-space-16) 0;
    }
  }
}
