@import url("https://use.typekit.net/ffh7kkn.css");
:root {
  --color-black: black;
  --color-white: white;
  --color-trans: rgba(0, 0, 0, 0);
  --color-primary: #dedede;
  --color-secondary: #d9a520;
  --trans-time: 0.25s;
  --gap-xxl: 3.2rem;
  --gap-xl: 2.4rem;
  --gap-l: 1.6rem;
  --gap-m: 0.8rem;
  --gap-s: 0.4rem;
  --font-family: rama-gothic-e, sans-serif;
  --color-border: black;
  --border-width: 0.1rem; }

html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  scroll-behavior: smooth; }
  html * {
    box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  background-image: url("./wwwroot/images/backgrounds/background_1920.jpg");
  background-repeat: no-repeat;
  background-position: center;
  font-family: var(--font-text);
  background-size: cover; }

body {
  display: flex;
  flex-flow: column wrap; }
  body nav {
    flex: none; }
  body header {
    flex: 0 0 auto;
    width: 100%; }
  body main {
    flex: 1 1 auto;
    width: 100%; }
  body footer {
    flex: 0 0 auto;
    width: 100%; }

h1,
h2,
h3,
p {
  margin: 0; }

h1 {
  font-family: var(--font-family);
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
  font-size: 12vh;
  line-height: 12vh;
  color: var(--color-primary); }

h3 {
  font-family: var(--font-family);
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
  font-size: 5.6vh;
  color: var(--color-secondary); }

h2,
strong {
  font-family: var(--font-family);
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
  font-size: 7vh;
  line-height: 7vh;
  color: var(--color-secondary); }

h2 {
  margin-bottom: 4vh; }

p {
  font-family: var(--font-family);
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
  font-size: 5.6vh;
  color: var(--color-primary); }

.references {
  font-family: var(--font-family);
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
  color: #dedede;
  font-size: 4vh;
  word-spacing: var(--gap-l); }

.container {
  width: 80%;
  min-width: 1440px;
  margin: 0 auto; }
  @media only screen and (max-width: 1440px) {
    .container {
      min-width: 1024px; } }
  @media only screen and (max-width: 1360px) {
    .container {
      width: 100%;
      min-width: 0;
      padding: 0 var(--pad-base); } }

.link {
  --color-link: var(--color-primary); }
  .link--secondary {
    --color-link: var(--color-secondary); }

.link {
  font-family: var(--font-family);
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
  color: var(--color-link);
  font-size: 5.6vh;
  transform: scale(1, 1);
  transition: transform var(--trans-time) ease-in-out; }
  .link:hover {
    transform: scale(1.05, 1.05); }

p .link {
  font-size: 1em; }

section {
  min-height: 100vh;
  display: grid;
  align-items: center; }

.contact {
  display: grid;
  align-items: stretch;
  justify-content: space-between;
  grid-template-columns: 8fr 5fr; }
  .contact__social {
    display: grid;
    grid-gap: var(--gap-l);
    grid-template-columns: repeat(4, minmax(4rem, 4vh));
    margin: 5.6vh 0; }
    .contact__social > a {
      display: block;
      text-decoration: none;
      width: 4vh;
      height: 4vh;
      min-width: 4rem;
      min-height: 4rem; }
    .contact__social svg {
      width: 100%;
      height: 100%;
      fill: var(--color-primary); }

/*# sourceMappingURL=style.css.map */