@use "../abstracts/variables/_index" as *;
@use "../abstracts/functions/_index" as *;
@use "../abstracts/mixins/_index" as *;

@mixin create-header {
  header {
    block-size: var(--header_height, calc(100svb - 76px));

    @include mq-responsive(tablet, max) {
      --header_height: calc(100svb - 56px);
    }

    &:empty {
      display: none;
    }
  }

  .intro {
    @supports (view-timeline-name: --foo) {
      animation: header-content-fade-out forwards;
      animation-range-start: exit;
      animation-timeline: view();
      will-change: translate, opacity;
    }

    @include mq-reduce-motion {
      animation: none;
    }

    &__title {
      position: relative;
      paint-order: stroke fill;
      -webkit-text-stroke: 0.025em $color-white;
      animation: show-title 0.5s ease-out 0.35s forwards;

      @include mq-reduce-motion {
        scale: initial;
        opacity: initial;
        animation: none;
      }

      &:before,
      &:after {
        display: none;
        position: absolute;
        top: 50%;
        color: var(--color-yellow-500);
        opacity: var(--header-opacity, 1);
        font-size: 2em;
        -webkit-text-stroke: 0;
      }

      &:before {
        content: "<";
        left: 0;
        translate: var(--header-before_trans-x, -100%) -50%;
      }

      &:after {
        content: ">";
        right: 0;
        translate: var(--header-after_trans-x, 100%) -50%;
      }
    }

    &__subtitle {
      letter-spacing: 0.25em;
      translate: 0 -25%;
      opacity: 0;
      animation: show-subtitle 0.5s ease-out 0.7s forwards;

      @include mq-reduce-motion {
        translate: initial;
        opacity: initial;
        animation: none;
      }
    }

    &__btn {
      translate: 0 50%;
      opacity: 0;
      animation: show-button 0.5s ease-out 0.7s forwards;

      @include mq-reduce-motion {
        translate: initial;
        opacity: initial;
        animation: none;
      }
    }
  }

  @keyframes show-triangle {
    to {
      translate: 0 0;
    }
  }

  @keyframes triangle-exit {
    to {
      scale: 2;
      opacity: 1;
    }
  }

  @keyframes show-title {
    to {
      scale: 1;
      opacity: 1;
    }
  }

  @keyframes show-subtitle {
    to {
      opacity: 1;
      translate: 0 0;
    }
  }

  @keyframes show-button {
    to {
      opacity: 1;
      translate: 0 0;
    }
  }

  @keyframes header-content-fade-out {
    to {
      translate: 0 -20svb;
      scale: 1.2;
      opacity: 0;
    }
  }
}
