@use "../abstracts/variables/_index" as *;
@use "../abstracts/functions/_index" as *;
@use "../abstracts/mixins/_index" as *;

@mixin create-services {
  .services {
    --carousel-size: 100%;
    grid-template-columns: var(--col-template, 1fr 1fr 1fr);
    transition: all $trans-time;
    overflow: clip;
    container-size: size;
    overflow-clip-margin: .5rem;
    scroll-behavior: smooth;
    scroll-marker-group: after;

    @include mq-responsive("desktop-s", max) {
      --col-template: none;
      display: grid !important;
      gap: $gap-space-16;
      grid-auto-flow: column;
      grid-auto-columns: calc(100% - (2 * #{$gap-space-24}));
      padding-inline: 0;
      overflow-x: auto;
      overscroll-behavior-x: contain;
      inline-size: 100%;
      max-inline-size: 100%;
      scroll-padding-inline: $gap-space-24;
      scroll-snap-type: x mandatory;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }
    }

    &::scroll-marker-group {
      display: flex;
      justify-content: center;
      gap: 1rem;
      margin-block-start: 1rem;
      block-size: 1rem;
    }

    > div {
      container-type: scroll-state;
      scroll-snap-align: center;
      scroll-snap-stop: always;

      @include mq-responsive("desktop-s", max) {
        container-type: scroll-state;
        min-inline-size: 0;
        scroll-snap-align: center;
        scroll-snap-stop: always;
      }

      &::scroll-marker {
        content: "";
        display: block;
        box-sizing: border-box;
        background-color: var(--marker-bg, light-dark(var(--color-gray-800), var(--color-white)));
        border-radius: 100vmax;
        scale: 1;
        transition:
          background-color $trans-time $trans-fnc,
          scale $trans-time $trans-fnc;
        aspect-ratio: 1;
        inline-size: 1rem;
      }

      &::scroll-marker:target-current {
        --marker-bg: var(--color-yellow-500);

        scale: 1.2;
      }
    }
  }
}
