@use "../abstracts/variables/_index" as *;
@use "../abstracts/mixins/_index" as *;

@mixin reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    overflow-x: clip;
    scrollbar-gutter: stable;

    @include set-scrollbar;

    @include mq-reduce-motion(no-preference) {
      scroll-behavior: smooth;
    }

    &:has(dialog[open]) {
      overflow: hidden;
    }
  }

  body {
    min-block-size: 100svb;
  }

  dialog {
    @include set-scrollbar;
  }

  ::selection {
    background-color: $color-yellow;
    color: $color-black;
  }

  strong {
    font-weight: 700;
  }
}
