@mixin reset {
    *, *:before, *:after {
        box-sizing: border-box;
    }

    html {
        scroll-behavior: smooth;
    }

    body {
        min-block-size: 100svb;
        max-inline-size: 100svi;
        overflow-x: clip;
    }
}
