@mixin create-typography {
  *:not(.blog) {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      paint-order: stroke fill;
    }

    address {
      font-style: normal;
    }

    textarea {
      font-family: inherit;
      font-size: medium;
      resize: vertical;
    }

    p {
      max-inline-size: 65ch;
    }
  }
}
