@import "../Base/global";

.link {
    --color-link: var(--color-primary);

    &--secondary {
        --color-link: var(--color-secondary);
    }
}

.link {
    @include font;
    color: var(--color-link);
    font-size: 5.6vh;
    text-decoration-color: var(--color-primary);
    transition: text-decoration-color var(--trans-time) ease-in-out;

    &:hover {
        text-decoration-color: var(--color-secondary);
    }

    &--secondary {
        text-decoration-color: var(--color-secondary);

        &:hover {
            text-decoration-color: var(--color-primary);
        }
    }
}

p .link {
    font-size: 1em;
}